@import "tailwindcss";

@theme {
  --color-primary: #059669;
  --color-primary-hover: #047857;
  --color-primary-light: #d1fae5;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

